{% extends 'base_generic.html' %}

{% block style %}
    <style>
        .old, .new {
            display: inline-block;
            border: 1px solid black;
            width: 1000px;
            padding: 3px;
        }
        .old span{
            color: rgba(0, 0, 0, 0.5);
        }
        .new {
            background-color: #f0fff0;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>알림</h2>
    {% if html_list %}
        {% for html in html_list %}
            {% if forloop.counter0 < new_notification %}
                <div class="new">
                    {% for phrase in html %}
                        {% if forloop.last %}
                            <span> {{ phrase }}</span>
                        {% else %}
                            {% if phrase.0 == 'text' %}
                                <span>{{ phrase.1 }}</span>
                            {% elif phrase.0 == 'link' %}
                                <a href="{{ phrase.2 }}" target="_blank">{{ phrase.1 }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {% if forloop.counter0 == new_notification and new_notification != 0 %}
                    <br>
                {% endif %}
                <div class="old">
                    {% for phrase in html %}
                        {% if forloop.last %}
                            <span> {{ phrase }}</span>
                        {% else %}
                            {% if phrase.0 == 'text' %}
                                <span>{{ phrase.1 }}</span>
                            {% elif phrase.0 == 'link' %}
                                <a href="{{ phrase.2 }}" target="_blank">{{ phrase.1 }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <br>
        {% endfor %}
    {% else %}
        <p>알림이 없습니다.</p>
    {% endif %}

{% endblock %}