{% extends 'base_generic.html' %}

{% block content %}
    <form method="get">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <br>
        <input type="submit" value="검색">
    </form>
    {% if page_obj %}
        <ul>
            {% for object in page_obj %}
                <li>
                    <a href={{ object.get_absolute_url }}>{{ object.book.title }}</a>
                    <br>
                    <a>{{ object.seller }}</a>
                    <a>가격: {{ object.price }}원</a>
                    <br>
                    <a>보관 상태: {{ object.quality }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no offers.</p>
    {% endif %}
{% endblock %}