{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>새 비밀번호 입력</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">새 비밀번호:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">비밀번호 확인</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>비밀번호 변경 실패</h1>
        <p>비밀번호 변경이 실패했습니다. 이미 사용된 링크일 수 있으니 다시 링크를 받아서 사용하세요.</p>-
    {% endif %}
{% endblock %}
